Source: pgsql-asn1oid
Section: database
Priority: optional
Maintainer: Debian PostgreSQL Maintainers <pkg-postgresql-public@lists.alioth.debian.org>
Uploaders: Simon Richter <sjr@debian.org>, Christoph Berg <myon@debian.org>
Build-Depends: debhelper (>= 9), postgresql-server-dev-all (>= 153~)
Standards-Version: 4.1.1
Homepage: https://github.com/ChristophBerg/pgsql-asn1oid
Vcs-Browser: https://github.com/ChristophBerg/pgsql-asn1oid
Vcs-Git: https://github.com/ChristophBerg/pgsql-asn1oid.git

Package: postgresql-10-asn1oid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-10
Description: ASN.1 OID data type for PostgreSQL
 This plugin provides the necessary support functions to store ASN.1 OIDs in
 a PostgreSQL database.
 .
 This package has been compiled for PostgreSQL 10.

